<nav>
    <ul>
        <li>default</li>
        <li{{#if isCategoryA}} class="cur"{{/if}}>category a</li>
        <li{{#if isCategoryB}} class="cur"{{/if}}>category b</li>
        <li{{#if isCategoryC}} class="cur"{{/if}}>category c</li>
        <li{{#if isCategoryD}} class="cur"{{/if}}>category d</li>
        <li{{#if isCategoryE}} class="cur"{{/if}}>category e</li>
    </ul>
</nav>