@charset "utf-8";

// link-home
.link-home {
    margin: 0 0 55px;
    
    a {
        display: block;
        margin: auto;
        width: 121px;
        height: 150px;
        background: url(../img/link_home.png) no-repeat 0 0;
    }
}

// h1
.h1-rep {
    margin: 85px auto 40px;
    
    // sprite
    @include sprite($rep_sti-a);
}
.h1-ung {
    margin: 85px auto 40px;
    
    // sprite
    @include sprite($ung_sti-a);
}
.h1-svi {
    margin: 85px auto 40px;
    
    // sprite
    @include sprite($svi_sti-a);
}

// h2
.h2-rep01 {
    margin: 0 auto 30px;
    
    // sprite
    @include sprite($rep_sti-d);
}
.h2-rep02 {
    span {
        // sprite
        @include sprite($rep_sti-e);
    }
}
.h2-rep03 {
    span {
        // sprite
        @include sprite($rep_sti-f);
    }
}
.h2-ung01 {
    margin: 28px auto 30px;
    
    // sprite
    @include sprite($ung_sti-c);
}

// h3
.h3-ung01 {
    margin: 0 auto;
    
    // sprite
    @include sprite($ung_sti-e);
}

// sti-rep
.sti-rep01 {
    margin: 0 auto 30px;
    
    // sprite
    @include sprite($rep_sti-b);
}
.sti-rep02 {
    margin: 0 auto 40px;
    
    // sprite
    @include sprite($rep_sti-c);
}
.sti-ung01 {
    margin: 0 auto 60px;
    
    // sprite
    @include sprite($ung_sti-b);
}
.sti-ung02 {
    margin: 0 auto;
    
    // sprite
    @include sprite($ung_sti-d);
}
.sti-svi01 {
    margin: 0 auto 40px;
    
    // sprite
    @include sprite($svi_sti-b);
}

// rep-thumb
.rep-thumb {
    margin: 0 auto 16px;
    width: $WIDTH_ARTICLE;
    
    & > ul {
        margin-left: -1px;
        height: 58px;
        
        & > li {
            position: relative;
            margin-left: 1px;
            height: 55px;
            cursor: pointer;
            
            & > span {
                background: $CLR_BG_EM;
            }
            
            &.current,
            &:active,
            &:hover {
                border-bottom: 3px solid $CLR_BG_EM;
                
                & > span {
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 54px;
                    opacity: 0.5;
                    filter: alpha(opacity=50);
                    -ms-filter: "alpha(opacity=50)";
                    z-index: 1;
                }
            }
        }
    }
}

// rep-img01
// animation variable
//property
$ANIM_IMGSLIDE_PROP: opacity;
//duration
$ANIM_IMGSLIDE_DUR: .2s;
//timing-function
$ANIM_IMGSLIDE_TIME: linear;

.rep-img01 {
    position: relative;
    margin: 0 auto 10px;
    width: 684px;
    height: 424px;
    border: 3px solid $CLR_BG_EM;
    
    // IEは9以上で左上、右下角斜線表現
    // IE8以下は斜線表現ないシンプルな直角
    // （プログレッシブエンハンスメント）
    // todo : ディレクター確認
    &:before,
    &:after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top: 5px solid #fff;
    }
    &:before {
        top: -12px;
        left: -12px;
    }
    &:after {
        bottom: -12px;
        right: -12px;
    }
    
    & > img {
        display: block;
        opacity: 1;
    }
    
    // 画像切替時に一瞬アニメーション表現する
    .slide-animation {
        // animation
        transition-property: $ANIM_IMGSLIDE_PROP;
        transition-duration : $ANIM_IMGSLIDE_DUR;
        transition-timing-function: $ANIM_IMGSLIDE_TIME;
    }
}
:root .rep-img01:before {
    top: -8px;
    left: -8px;
    transform: rotate(135deg);
}
:root .rep-img01:after {
    bottom: -8px;
    right: -8px;
    transform: rotate(-45deg);
}

// rep-cap
.rep-cap {
    margin: 0 auto 30px;
    width: $WIDTH_ARTICLE;
    min-height: 90px;
    *height: 80px;
    color: $CLR_TXT_NOTE;
}

// rep-txt
.rep-txt {
    margin: 0 auto 15px;
    width: $WIDTH_CONTENT;
    font-size: $FONT_SIZE_L;
    line-height: $LINE_HEIGHT_L;
    text-align: center;
}
.rep-txt--last {
    margin-bottom: 85px;
}

// rep-speaker
.rep-speaker {
    margin: 0 auto 100px;
    width: $WIDTH_CONTENT;
    
    & > ul {
        margin-left: -10px;
        
        & > li {
            margin-left: 10px;
        }
    }
}

// ung-topic
.ung-topic {
    margin: 0 auto 40px;
    width: $WIDTH_ARTICLE;
    
    .tpc--ti {
        width: 490px;
    }
    .tpc--phot {
        width: 200px;
    }
}

// ung-txt
.ung-txt {
    margin: 0 auto 40px;
    width: $WIDTH_ARTICLE;
    font-size: $FONT_SIZE_L;
    line-height: $LINE_HEIGHT_L;
    text-indent: 1em;
}

// ung-column
.ung-column {
    margin: 0 auto 1px;
    padding: 20px;
    width: 650px;
    background: #f3f1ed;
    
    .md-imgL {
        margin-right: 20px;
    }
    .md-imgR {
        margin-left: 20px;
    }
    .md-bd {
        margin-top: 1em;
    }
}
.ung-column--end {
    margin: 0 auto 40px;
}

// ung-hr
.ung-hr {
    position: relative;
    margin: 0 auto 30px;
    width: $WIDTH_ARTICLE;
    height: 3px;
    border: 0 $CLR_BG_EM;
    *border: 1px solid $CLR_BG_EM;
    background-color: $CLR_BG_EM;
    color: $CLR_BG_EM;
    
    // IEは9以上で左右斜線表現
    // IE8以下は斜線表現ない太さ3pxのシンプルなボーダー
    // （プログレッシブエンハンスメント）
    // todo : ディレクター確認
    &:before,
    &:after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border: 3px solid transparent;
        border-top: 3px solid #fff;
    }
    &:before {
        top: -3px;
        left: -3px;
        transform: rotate(135deg);
    }
    &:after {
        top: 0px;
        right: -4px;
        transform: rotate(-45deg);
    }
}
.ung-hr-end {
    margin: 0 auto 80px;
}

// ung-prof
.ung-prof {
    margin: 0 auto 30px;
    width: $WIDTH_ARTICLE;
    
    .prof--ti {
        width: 225px;
    }
    .prof--face {
        margin: 45px 0 20px;
        text-align: center;
    }
    .prof--txt {
        width: 465px;
        
        & > dl {
            margin-bottom: 4px;
        
            & > dt {
                width: 90px;
                margin-right: 10px;
            }
        }
        
        & > .txt {
            margin-bottom: 20px;
        }
    }
}

// list-svi
.list-svi {
    margin: 0 auto 20px;
    width: $WIDTH_CONTENT;
    
    // スマホ長タッチ対策
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    
    & > ul {
        margin-left: -20px;
        
        & > li {
            margin: 0 0 20px 20px;
        }
    }
}

// info-svi
.info-svi {
    margin: 0 0 80px;
    text-align: center;
    font-size: $FONT_SIZE_L;
    color: $CLR_TXT_NOTE;
    
    & > a {
        font-weight: bold;
    }
}





