/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$top-sti-a-name: 'top_sti-a';
$top-sti-a-x: 0px;
$top-sti-a-y: 0px;
$top-sti-a-offset-x: 0px;
$top-sti-a-offset-y: 0px;
$top-sti-a-width: 202px;
$top-sti-a-height: 202px;
$top-sti-a-total-width: 388px;
$top-sti-a-total-height: 340px;
$top-sti-a-image: '../img/sprite-top_sti.png';
$top-sti-a: (0px, 0px, 0px, 0px, 202px, 202px, 388px, 340px, '../img/sprite-top_sti.png', 'top_sti-a', );
$top-sti-b-name: 'top_sti-b';
$top-sti-b-x: 346px;
$top-sti-b-y: 0px;
$top-sti-b-offset-x: -346px;
$top-sti-b-offset-y: 0px;
$top-sti-b-width: 42px;
$top-sti-b-height: 250px;
$top-sti-b-total-width: 388px;
$top-sti-b-total-height: 340px;
$top-sti-b-image: '../img/sprite-top_sti.png';
$top-sti-b: (346px, 0px, -346px, 0px, 42px, 250px, 388px, 340px, '../img/sprite-top_sti.png', 'top_sti-b', );
$top-sti-c-name: 'top_sti-c';
$top-sti-c-x: 207px;
$top-sti-c-y: 0px;
$top-sti-c-offset-x: -207px;
$top-sti-c-offset-y: 0px;
$top-sti-c-width: 134px;
$top-sti-c-height: 133px;
$top-sti-c-total-width: 388px;
$top-sti-c-total-height: 340px;
$top-sti-c-image: '../img/sprite-top_sti.png';
$top-sti-c: (207px, 0px, -207px, 0px, 134px, 133px, 388px, 340px, '../img/sprite-top_sti.png', 'top_sti-c', );
$top-sti-d-name: 'top_sti-d';
$top-sti-d-x: 0px;
$top-sti-d-y: 207px;
$top-sti-d-offset-x: 0px;
$top-sti-d-offset-y: -207px;
$top-sti-d-width: 134px;
$top-sti-d-height: 133px;
$top-sti-d-total-width: 388px;
$top-sti-d-total-height: 340px;
$top-sti-d-image: '../img/sprite-top_sti.png';
$top-sti-d: (0px, 207px, 0px, -207px, 134px, 133px, 388px, 340px, '../img/sprite-top_sti.png', 'top_sti-d', );
$top-sti-e-name: 'top_sti-e';
$top-sti-e-x: 207px;
$top-sti-e-y: 169px;
$top-sti-e-offset-x: -207px;
$top-sti-e-offset-y: -169px;
$top-sti-e-width: 72px;
$top-sti-e-height: 25px;
$top-sti-e-total-width: 388px;
$top-sti-e-total-height: 340px;
$top-sti-e-image: '../img/sprite-top_sti.png';
$top-sti-e: (207px, 169px, -207px, -169px, 72px, 25px, 388px, 340px, '../img/sprite-top_sti.png', 'top_sti-e', );
$top-sti-f-name: 'top_sti-f';
$top-sti-f-x: 139px;
$top-sti-f-y: 207px;
$top-sti-f-offset-x: -139px;
$top-sti-f-offset-y: -207px;
$top-sti-f-width: 135px;
$top-sti-f-height: 27px;
$top-sti-f-total-width: 388px;
$top-sti-f-total-height: 340px;
$top-sti-f-image: '../img/sprite-top_sti.png';
$top-sti-f: (139px, 207px, -139px, -207px, 135px, 27px, 388px, 340px, '../img/sprite-top_sti.png', 'top_sti-f', );
$top-sti-g-name: 'top_sti-g';
$top-sti-g-x: 207px;
$top-sti-g-y: 138px;
$top-sti-g-offset-x: -207px;
$top-sti-g-offset-y: -138px;
$top-sti-g-width: 117px;
$top-sti-g-height: 26px;
$top-sti-g-total-width: 388px;
$top-sti-g-total-height: 340px;
$top-sti-g-image: '../img/sprite-top_sti.png';
$top-sti-g: (207px, 138px, -207px, -138px, 117px, 26px, 388px, 340px, '../img/sprite-top_sti.png', 'top_sti-g', );
$top-sti-h-name: 'top_sti-h';
$top-sti-h-x: 279px;
$top-sti-h-y: 207px;
$top-sti-h-offset-x: -279px;
$top-sti-h-offset-y: -207px;
$top-sti-h-width: 54px;
$top-sti-h-height: 27px;
$top-sti-h-total-width: 388px;
$top-sti-h-total-height: 340px;
$top-sti-h-image: '../img/sprite-top_sti.png';
$top-sti-h: (279px, 207px, -279px, -207px, 54px, 27px, 388px, 340px, '../img/sprite-top_sti.png', 'top_sti-h', );
$spritesheet-width: 388px;
$spritesheet-height: 340px;
$spritesheet-image: '../img/sprite-top_sti.png';
$spritesheet-sprites: ($top-sti-a, $top-sti-b, $top-sti-c, $top-sti-d, $top-sti-e, $top-sti-f, $top-sti-g, $top-sti-h, );
$spritesheet: (388px, 340px, '../img/sprite-top_sti.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
