/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$svi-sti-a-name: 'svi_sti-a';
$svi-sti-a-x: 0px;
$svi-sti-a-y: 0px;
$svi-sti-a-offset-x: 0px;
$svi-sti-a-offset-y: 0px;
$svi-sti-a-width: 631px;
$svi-sti-a-height: 36px;
$svi-sti-a-total-width: 631px;
$svi-sti-a-total-height: 61px;
$svi-sti-a-image: '../img/sprite-svi_sti.png';
$svi-sti-a: (0px, 0px, 0px, 0px, 631px, 36px, 631px, 61px, '../img/sprite-svi_sti.png', 'svi_sti-a', );
$svi-sti-b-name: 'svi_sti-b';
$svi-sti-b-x: 0px;
$svi-sti-b-y: 41px;
$svi-sti-b-offset-x: 0px;
$svi-sti-b-offset-y: -41px;
$svi-sti-b-width: 610px;
$svi-sti-b-height: 20px;
$svi-sti-b-total-width: 631px;
$svi-sti-b-total-height: 61px;
$svi-sti-b-image: '../img/sprite-svi_sti.png';
$svi-sti-b: (0px, 41px, 0px, -41px, 610px, 20px, 631px, 61px, '../img/sprite-svi_sti.png', 'svi_sti-b', );
$spritesheet-width: 631px;
$spritesheet-height: 61px;
$spritesheet-image: '../img/sprite-svi_sti.png';
$spritesheet-sprites: ($svi-sti-a, $svi-sti-b, );
$spritesheet: (631px, 61px, '../img/sprite-svi_sti.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
