/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$ung-sti-a-name: 'ung_sti-a';
$ung-sti-a-x: 0px;
$ung-sti-a-y: 0px;
$ung-sti-a-offset-x: 0px;
$ung-sti-a-offset-y: 0px;
$ung-sti-a-width: 620px;
$ung-sti-a-height: 36px;
$ung-sti-a-total-width: 620px;
$ung-sti-a-total-height: 188px;
$ung-sti-a-image: '../img/sprite-ung_sti.png';
$ung-sti-a: (0px, 0px, 0px, 0px, 620px, 36px, 620px, 188px, '../img/sprite-ung_sti.png', 'ung_sti-a', );
$ung-sti-b-name: 'ung_sti-b';
$ung-sti-b-x: 173px;
$ung-sti-b-y: 109px;
$ung-sti-b-offset-x: -173px;
$ung-sti-b-offset-y: -109px;
$ung-sti-b-width: 390px;
$ung-sti-b-height: 19px;
$ung-sti-b-total-width: 620px;
$ung-sti-b-total-height: 188px;
$ung-sti-b-image: '../img/sprite-ung_sti.png';
$ung-sti-b: (173px, 109px, -173px, -109px, 390px, 19px, 620px, 188px, '../img/sprite-ung_sti.png', 'ung_sti-b', );
$ung-sti-c-name: 'ung_sti-c';
$ung-sti-c-x: 0px;
$ung-sti-c-y: 41px;
$ung-sti-c-offset-x: 0px;
$ung-sti-c-offset-y: -41px;
$ung-sti-c-width: 239px;
$ung-sti-c-height: 63px;
$ung-sti-c-total-width: 620px;
$ung-sti-c-total-height: 188px;
$ung-sti-c-image: '../img/sprite-ung_sti.png';
$ung-sti-c: (0px, 41px, 0px, -41px, 239px, 63px, 620px, 188px, '../img/sprite-ung_sti.png', 'ung_sti-c', );
$ung-sti-d-name: 'ung_sti-d';
$ung-sti-d-x: 244px;
$ung-sti-d-y: 41px;
$ung-sti-d-offset-x: -244px;
$ung-sti-d-offset-y: -41px;
$ung-sti-d-width: 320px;
$ung-sti-d-height: 36px;
$ung-sti-d-total-width: 620px;
$ung-sti-d-total-height: 188px;
$ung-sti-d-image: '../img/sprite-ung_sti.png';
$ung-sti-d: (244px, 41px, -244px, -41px, 320px, 36px, 620px, 188px, '../img/sprite-ung_sti.png', 'ung_sti-d', );
$ung-sti-e-name: 'ung_sti-e';
$ung-sti-e-x: 0px;
$ung-sti-e-y: 109px;
$ung-sti-e-offset-x: 0px;
$ung-sti-e-offset-y: -109px;
$ung-sti-e-width: 168px;
$ung-sti-e-height: 79px;
$ung-sti-e-total-width: 620px;
$ung-sti-e-total-height: 188px;
$ung-sti-e-image: '../img/sprite-ung_sti.png';
$ung-sti-e: (0px, 109px, 0px, -109px, 168px, 79px, 620px, 188px, '../img/sprite-ung_sti.png', 'ung_sti-e', );
$spritesheet-width: 620px;
$spritesheet-height: 188px;
$spritesheet-image: '../img/sprite-ung_sti.png';
$spritesheet-sprites: ($ung-sti-a, $ung-sti-b, $ung-sti-c, $ung-sti-d, $ung-sti-e, );
$spritesheet: (620px, 188px, '../img/sprite-ung_sti.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
